* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}

*:focus, *:active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: inherit;
}

body {
  font-family: Montserrat;
}

body.hidden {
  overflow: hidden;
}

.container {
  max-width: 1200px;
  margin: auto;
}

@media (max-width: 1240px) {
  .container {
    max-width: 970px;
  }
}

@media (max-width: 992px) {
  .container {
    max-width: 750px;
  }
}

@media (max-width: 767px) {
  .container {
    max-width: none;
  }
}

.wrapper {
  background: #1C1C1C;
}

.wrapper-bg {
  background-image: url(../img/bg/offer.png);
  background-position: center;
  background-repeat: no-repeat;
}

.title {
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 44px;
  letter-spacing: 0.06em;
  color: #FFFFFF;
  margin-bottom: 10px;
}

@media (max-width: 767px) {
  .title {
    font-size: 28px;
  }
}

@media (max-width: 540px) {
  .title {
    font-size: 20px;
  }
}

.header__row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 30px;
}

.header__logo {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 900;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.03em;
  color: #FFFFFF;
}

@media (max-width: 992px) {
  .header__logo {
    margin-left: 40px;
    margin-right: 40px;
    z-index: 1;
  }
}

@media (max-width: 767px) {
  .header__nav {
    display: none;
  }
}

.header__link {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.03em;
  color: #FFFFFF;
  padding: 20px 30px;
  border-radius: 5px;
  transition-duration: 0.5s;
  margin-left: 10px;
}

.header__link:hover {
  background-color: #232323;
}

.header__mobile-nav {
  display: none;
}

@media (max-width: 767px) {
  .header__mobile-nav {
    position: absolute;
    padding-bottom: 300px;
    width: 100%;
    top: -775px;
    background-color: #232323;
    font-size: 20px;
    padding-top: 100px;
    display: flex;
    flex-direction: column;
    text-transform: uppercase;
    transition-duration: 0.8s;
    overflow: auto;
  }
}

.header__mobile-nav.active {
  top: 0;
  left: 0;
}

.header__mobile-link {
  margin-top: 50px;
  margin-bottom: 50px;
  margin-left: 40px;
  color: #fff;
  font-weight: bold;
}

.header__menu-btn {
  display: none;
  z-index: 1;
}

@media (max-width: 767px) {
  .header__menu-btn {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 30px;
    margin-left: 30px;
    background-color: transparent;
  }
}

.header__menu-line {
  height: 5px;
  width: 35px;
  background-color: #Fff;
  transition-duration: 0.8s;
}

.line-focus {
  width: 20px;
}

.offer__column {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 198px 0px 98px 0px;
}

@media (max-width: 767px) {
  .offer__column {
    padding: 150px 0px 98px 0px;
  }
}

@media (max-width: 420px) {
  .offer__column {
    align-items: start;
    padding: 100px 0px 60px 0px;
  }
}

.offer__hi span {
  color: #F6E36A;
}

@media (max-width: 420px) {
  .offer__hi {
    margin-left: 30px;
  }
}

.offer__title {
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
  line-height: 59px;
  letter-spacing: 0.06em;
  color: #FFFFFF;
  margin-bottom: 30px;
}

@media (max-width: 767px) {
  .offer__title {
    font-size: 36px;
  }
}

@media (max-width: 540px) {
  .offer__title {
    font-size: 28px;
  }
}

@media (max-width: 420px) {
  .offer__title {
    line-height: 150%;
    padding-right: 30px;
    margin-left: 30px;
  }
}

.offer__subtitle {
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 150%;
  text-align: center;
  letter-spacing: 0.03em;
  color: #FFFFFF;
  margin-bottom: 200px;
  max-width: 504px;
}

@media (max-width: 767px) {
  .offer__subtitle {
    font-size: 16px;
    margin-bottom: 150px;
    max-width: 400px;
  }
}

@media (max-width: 540px) {
  .offer__subtitle {
    font-size: 14px;
    max-width: 350px;
  }
}

@media (max-width: 420px) {
  .offer__subtitle {
    text-align: left;
    padding-right: 40px;
    margin-left: 30px;
    margin-bottom: 100px;
  }
}

.offer__social {
  width: 250px;
  display: flex;
  justify-content: space-between;
}

@media (max-width: 420px) {
  .offer__social {
    padding-left: 60px;
    padding-right: 60px;
    width: 100%;
  }
}
